# Files that git should ignore

# Objects, compiled libraries, executables
*.o
*.lo
*.so
*.so.*
*.a
*.la
*.deps/
*.dirstamp
*.dSYM
libintents/testintents
muacsocksd
addrinfo
.libs/

# Compiler docs
doxygen/

# Automake stuff
*.m4
config*
Makefile
Makefile.in
autom4te.cache/
missing
compile
depcomp
install-sh
ar-lib
libtool
ltmain.sh

# Random other stuff
stamp-h1
.settings
.cproject
.project
